/*Feuille de style*/

/* couleur de la page */
/*
--rich-black-fogra-39: #0a100dff;
--sage: #b9baa3ff;
--timberwolf: #d6d5c9ff;
--auburn: #a22c29ff;
--burnt-umber: #902923ff

#edede8ff font de la  page 
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: auto;
    margin: 20px;
    background-color: #edede8ff;
}

/* Header */

header{
    padding: 0;
    margin: 0;
    background-color: #d6d5c9ff;
}

span, .nav-link{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color:#a22c29ff; /* marche pas sur le menu */
}

img {
    width: 40px;
    height: 40px;
    cursor: pointer;
}
/* rajouter des effets avec le passage de la souris */

/* footer */
footer {
    background-color: #d6d5c9ff
}

p {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size:small;
    color:#a22c29ff;
}

#footer-col{
    display: inline-flex;
}

#footer-row2 > p{
    font-size: 9px;
    text-align: center;
}